.adminnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 60px;
    color: white;
    padding: 0px 30px;
}
.adminnavlogo span{
    color: blue;
}
.adminmenu{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    gap: 10px;
}
.adminmenu a{
    color: white;
    text-decoration: none;
    border: 3px solid transparent;
    padding: 13.5px;
    transition: 300ms;
}
.adminmenu a:hover{
    border-bottom: 3px solid rgb(125, 237, 19);
}